.header{
    &__top{
        padding: 6px 77px;
        @include flexPos;
        background: #FAFBFC;
        border-bottom:$border;
        .address{
            padding-left: 10px;
            display: flex;
            align-items: center;
            & img{
                width: 14px;
                height: 15px;
                margin-right: 8px;
            }
            & h3{
                @include font-block;
            }
        }
        .servises{
            .list{
                @include font-block;
                display: inline-block;
                margin: 0 10px;
                & img {
                    margin-left: 5px;
                }
            .list:hover{
                cursor: pointer;
                color: #192a38;
                border-bottom: 1px solid #708598;
                }
            }
        }
    }
    &__nav{
        padding: 14px 82px;
        .logo{
            padding-left: 6px;
        }
        @include flexPos;
        align-items:center;
        border-bottom: $border;
        .nav-catalog {
            @include flexPos2;
            width: 116px;
            height: 40px;
            background: #FED83D;
            border-radius: 4px;
            .catalog-burger {
                width: 20px;
                height: 20px;
                position: relative;
                padding-left: 7px;
                cursor: pointer;
                .burger-line-1{
                    @include span-burger;
                    top: 44% ;
                }
                .burger-line-2{
                    @include span-burger;
                    top: 20%;
                }
                .burger-line-3{
                    @include span-burger;
                    bottom: 18%;
                }
            }
            .catalog{
                @include font-block2;
                padding-right: 4px;
                padding-bottom: 1px;
            }
        }
        .nav-input{
            width: 526px;
            height: 40px;
            @include flexPos;
            background: #FFFFFF;
            border: 1px solid #ECEFF1;
            border-radius: 4px;
            box-sizing:border-box;
            padding: 0 9px 0 12px;
            & input{
                font-size: 14px;
                line-height: 20px;
                font-family: $fonts;
                outline: none;
            }
 
        }
        .nav-list {
            @include flexPos2;
            border: 1px solid #ECEFF1;
            background: #FAFBFC;
            border-radius: 4px;
            width: 111px;
            height: 40px;
            color: #050F19;
            .list-title{
                @include font-block2;
            }
            .list-block-img{
                padding-top: 4px;
                position: relative;
                .list-img {
                    width: 18px;
                    height: 22px;
                    margin-left: 4px;
                }
                .list-point{
                    position: absolute;
                    top: 0;
                    right: -3px;
                }
            }
        }
        .nav-ellipse{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #9B51E0;
            color: #fff;
            text-align: center;
            padding-top: 10px;
            font: {
                size: 14px;
                family: $fonts;
            }

        }
    }
}