@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
.header__top {
  padding: 6px 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FAFBFC;
  border-bottom: 1px solid #ECEFF1;
}

.header__top .address {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top .address img {
  width: 14px;
  height: 15px;
  margin-right: 8px;
}

.header__top .address h3 {
  color: #708598;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.header__top .servises .list {
  color: #708598;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  display: inline-block;
  margin: 0 10px;
}

.header__top .servises .list img {
  margin-left: 5px;
}

.header__top .servises .list .list:hover {
  cursor: pointer;
  color: #192a38;
  border-bottom: 1px solid #708598;
}

.header__nav {
  padding: 14px 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ECEFF1;
}

.header__nav .logo {
  padding-left: 6px;
}

.header__nav .nav-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 116px;
  height: 40px;
  background: #FED83D;
  border-radius: 4px;
}

.header__nav .nav-catalog .catalog-burger {
  width: 20px;
  height: 20px;
  position: relative;
  padding-left: 7px;
  cursor: pointer;
}

.header__nav .nav-catalog .catalog-burger .burger-line-1 {
  position: absolute;
  width: 17px;
  height: 2px;
  border: radius 2px;
  background: #222222;
  top: 44%;
}

.header__nav .nav-catalog .catalog-burger .burger-line-2 {
  position: absolute;
  width: 17px;
  height: 2px;
  border: radius 2px;
  background: #222222;
  top: 20%;
}

.header__nav .nav-catalog .catalog-burger .burger-line-3 {
  position: absolute;
  width: 17px;
  height: 2px;
  border: radius 2px;
  background: #222222;
  bottom: 18%;
}

.header__nav .nav-catalog .catalog {
  color: #050F19;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-line-height: 20px;
  padding-right: 4px;
  padding-bottom: 1px;
}

.header__nav .nav-input {
  width: 526px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFFFFF;
  border: 1px solid #ECEFF1;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 9px 0 12px;
}

.header__nav .nav-input input {
  font-size: 14px;
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
  outline: none;
}

.header__nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ECEFF1;
  background: #FAFBFC;
  border-radius: 4px;
  width: 111px;
  height: 40px;
  color: #050F19;
}

.header__nav .nav-list .list-title {
  color: #050F19;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-line-height: 20px;
}

.header__nav .nav-list .list-block-img {
  padding-top: 4px;
  position: relative;
}

.header__nav .nav-list .list-block-img .list-img {
  width: 18px;
  height: 22px;
  margin-left: 4px;
}

.header__nav .nav-list .list-block-img .list-point {
  position: absolute;
  top: 0;
  right: -3px;
}

.header__nav .nav-ellipse {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #9B51E0;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html, body {
  height: 100%;
}

button {
  cursor: pointer;
}

h1, h2, h3, p, span {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */